body {
  max-width: 600px;
  margin: auto;
}

.navheader {
  font-family: "Karla", sans-serif;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  width: 600px;
  height: 65px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.navheader > img {
  width: 31.31px;
  height: 26.22px;
  padding: 0px 10px;
}

.memegen {
  font-size: 20.7482px;
  line-height: 24px;
}

.course {
  margin-left: 30%;
  font-size: 12px;
}

.memegenbuttons {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.memegenbuttons > input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  margin: 35px 15px;
  width: 230px;
  height: 35px;
}

button {
  margin-top: 35px;
  grid-column: 1 / -1;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  color: white;
  width: 477px;
  height: 40px;
}

main {
  border: 1px solid rgb(216, 36, 216);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 600px;
  max-height: 600px;
  overflow: hidden;
}

.meme-pic {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin-top: 10%;
  margin-left: 100%;
}
